:root {
    --accent-color: #1e88e5;
    --text-color: #252422;
    --light-text-color: #9a9a9a;
}

.container {
    width: 100%;
    height: 92vh;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 0px;
    padding-bottom: : 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answer-container {
  margin: 60px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /*height: */
    position: relative;
}

.hidden {
    display: none;
}

.selector {
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.select-container {
   width: 24%;
   display: flex;
   flex-direction: column;
}

select {
   width: 100%;
   height: 40px;
   font-family: 'Muli', sans-serif;
   margin: 0.5rem 0rem 1rem 0rem;
   border-radius: 5px;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    
}

.predict {
    font-family: 'Muli', sans-serif;
    width: 30%;
    padding: 10px 25px;
    background: var(--accent-color);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
}

.card {
    width: 32%;
    background: #f6f6f6;
    padding: 30px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.5);
}

.card-header {
    text-transform: uppercase;
    color: var(--text-color);
    font-size: 0.866rem;
}

.line {
    background: var(--text-color);
    width: 100%;
    height: 1px;
    margin: 1rem 0px;
}

#answer {
    font-size: 1.6em;
    font-weight: 700;
    word-wrap: break-word;
}

#answer ul li {
    list-style: none;
    margin-bottom: 10px;
}

#answer ul li:last-child {
    margin-bottom: 0px;
}
form {
  margin-top: 40px;
  outline: 0;
  float: left;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

form > .textbox {
  outline: 0;
  height: 42px;
  width: 400px;
  line-height: 42px;
  padding: 0 16px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #212121;
  border: 0;
  float: left;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

form > .textbox:focus {
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 0px 10px 0 rgba(0, 0, 0, 0.19);

  outline: 0;
  background-color: #FFF;
}
form  > .textbox: hover {
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 0px 10px 0 rgba(0, 0, 0, 0.19);

}
form > .button {
  color: #212121;
  outline: 0;
  background: none;
  background-color: white;
  float: left;
  height: 42px;
  width: 42px;
  text-align: center;
  line-height: 42px;
  border: 0;
  /*color: #FFF;*/
  /*content: "\f002"*/
  /*font: normal normal normal 14px/1 FontAwesome;*/
  font-size: 16px;
  text-rendering: auto;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.results{
    margin-top:50px; 
    background-color: white;
    width: 100%;
    border: 1px;
    border-color: #212121;
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 0px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0px 0px 20px 20px;
    /*height: 200px;*/
    /*position: fixed;*/
}
.list-group-item:hover{
    background-color: #E8E8E8;
}
.list-group{
  display: none;
    width: 100%;
    list-style: none;
    padding: 10px;
}
.list-group-item{
    text-transform: capitalize;
    padding: 8px 0px;
    color: #212121;
}
.title{
    padding-bottom: 20px;
    text-align: left;
}
.details{
   /*display: flex;*/
    /*justify-content: spa/*ce-between;*/
    /*align-items: center;*/*/
    text-align: center;
    padding-left: 100px;
    /*width: 100%*/
    /*height: */
    margin-top: 120px;
    /*position: relative;*/
}
